footer
{
    margin-top: auto;
    background-color: white;
    min-height: 60px;
    height: 60px;
    width: 100%;
    border-top: 1px solid #CCCCCC;
    display: flex;
    justify-content: center;
    align-items: center;
}